<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login PDF Word Index Creator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-cyan-500 to-blue-500 flex justify-center items-center h-full">
    <form class="flex flex-col gap-3 bg-white shadow-cyan-500 shadow-2xl rounded-lg max-w-xs border border-blue-500 p-6 text-center" action="/login" method="post">
        <input placeholder="Enter password" class="border rounded border-blue-300 focus:border-blue-400 p-2" id="password" type="password" name="password" />
        <input class="p-2 rounded bg-blue-500 text-white cursor-pointer" type="submit" value="Submit" />
    </form>
</body>
</html>
